/* You can add global styles to this file, and also import other style files */
@import "purecss/build/base.css";
@import "purecss/build/buttons.css";
@import "purecss/build/forms.css";
@import "purecss/build/menus.css";

:root {
    /* --app-color-accent: ; */
    /* --app-color-accent-on: ; */
    --app-color-base: #ffffff;
    --app-color-base-on: #000000;
    /* --app-color-danger: ; */
    /* --app-color-danger-on: ; */
    --app-color-main: #333333;
    --app-color-main-on: #ffffff;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* --app-color-accent: ; */
        /* --app-color-accent-on: ; */
        --app-color-base: #000000;
        --app-color-base-on: #ffffff;
        /* --app-color-danger: ; */
        /* --app-color-danger-on: ; */
        /* --app-color-main: ; */
        /* --app-color-main-on: ; */
    }
}
